<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/logo.png" type="image/png">
    <title>Xhopii - Cadastro Produto</title>
</head>
<body>

    <header>
        <section id="cabecalho-logo">
            <img src="/img/logo.png">
            <h1>Xhopii</h1>
        </section>
        <section id="cabecalho-logout">
            <a href="/login">Sair</a>
        </section>
    </header>

    <nav class="menu-horizontal">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/clientes/cadastrar">Cadastro Cliente</a></li>
            <li><a href="/funcionario/cadastrar">Cadastro Funcionário</a></li>
            <li><a href="/produto/cadastrar">Cadastro Produto</a></li>
            <li><a href="/clientes">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionários</a></li>
            <li><a href="#">Ver Produtos</a></li>
        </ul>
    </nav>

    <section class="conteudo-cadastro">
        <section class="conteudo-formulario-cadastro">
            <form method="POST" action="/produto/cadastrar" enctype="multipart/form-data">
                <label>Cadastrar Produto</label>
                <input type="text" placeholder="Nome" name="inputNomeProd" required>
                <input type="text" placeholder="Fabricante" name="inputFabricanteProd">
                <input type="text" placeholder="Descrição" name="inputDescricaoProd">
                <input type="text" placeholder="Valor" name="inputValorProd" required>
                <input type="text" placeholder="Quantidade" name="inputQtdProd" required>
                <label id="lbl-arquivo" for="files">Selecionar foto do produto:</label>
                <input type="file" name="inputFoto">
                <input id="botao" type="submit" value="Cadastrar">
            </form>
        </section>
    </section>

    <footer class="rodape">
        <hr>
        <p>© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
    </footer>

</body>
</html>