<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/rodape.css">
    <link rel="icon" href="/img/logo.png" type="image/png">
    <title>Xhopii - Login</title>
</head>
<body>
    
    <header class="cabecalho-login">
        <section id="cabecalho-login-logo">
            <img src="/img/logo.png">
            <h1>Xhopii</h1>
            <p>Entre</p>
        </section>
        <section id="cabecalho-login-ajuda">
            <p>Precisa de ajuda?</p>
        </section>
    </header>

    <section class="conteudo-login">
        <section class="conteudo-login-info">
            <form class="form-login" method="POST" action="/login">
                <label id="label-log">Login</label>
                <input id="input-log" type="text" placeholder="Email ou CPF" name="user" required>
                <input id="input-log" type="password" placeholder="Senha" name="senha" required>
                <input id="botao-log" type="submit" value="ENTRE">
            </form>
            <section class="conteudo-login-recuperacao">
                <a href="/recuperar-senha">Esqueci minha senha</a>
                <a href="#">Fazer login com SMS</a>
            </section>
            <p>Novo na Xhopii? <a href="/funcionario/cadastrar-publico">Cadastrar</a></p>
        </section>
    </section>

    <footer class="rodape">
        <div class="container-footer">
            <section>
                <h1 class="h1-rdp">Atendimento ao cliente</h1>
                <p class="p-rdp">Central de Ajuda</p>
                <p class="p-rdp">Como Comprar</p>
                <p class="p-rdp">Métodos de Pagamento</p>
                <p class="p-rdp">Garantia Xhopii</p>
                <p class="p-rdp">Devolução e Reembolso</p>
                <p class="p-rdp">Fale Conosco</p>
                <p class="p-rdp">Ouvidoria</p>
                <p class="p-rdp">Preferências de cookies</p>
            </section>

            <section>
                <h1 class="h1-rdp">Sobre a Xhopii</h1>
                <p class="p-rdp">Sobre Nós</p>
                <p class="p-rdp">Políticas Xhopii</p>
                <p class="p-rdp">Política de Privacidade</p>
                <p class="p-rdp">Programa de Afiliados da Xhopii</p>
                <p class="p-rdp">Seja um Entregador Xhopii</p>
                <p class="p-rdp">Ofertas Relâmpago</p>
                <p class="p-rdp">Xhopii Blog</p>
                <p class="p-rdp">Imprensa</p>
            </section>

            <section>
                <h1 class="h1-rdp">Pagamento</h1>
                <img class="imgpg" src="/img/logo-visa.png" alt="Visa">
                <img class="imgpg" src="/img/logo-mastercard.png" alt="Mastercard">
                <img class="imgpg" src="/img/logo-pix.png" alt="Pix">
            </section>

            <section>
                <h1 class="h1-rdp">Siga-nos</h1>
                <p class="p-rdp"><img class="icon" src="/img/logo-instagram.png" alt="Instagram">Instagram</p>
                <p class="p-rdp"><img class="icon" src="/img/logo-tiktok.png" alt="TikTok">TikTok</p>
                <p class="p-rdp"><img class="icon" src="/img/logo-facebook.png" alt="Facebook">Facebook</p>
            </section>

            <section>
                <h1 class="h1-rdp">Atendimento ao cliente</h1>
                <img class="qr" src="/img/qr-code.png" alt="QR Code"><br>
                <img class="stre" src="/img/logo-store-apple.png" alt="App Store"><br>
                <img class="stre" src="/img/logo-google-play.png" alt="Google Play">
            </section>

            <hr id="hr-rdp">
        </div>
        <p class="p-rdp" style="text-align: center; margin-bottom: 20px;">© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
    </footer>

</body>
</html>