<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/logo.png" type="image/png">
    <title>Xhopii - Recuperar Senha</title>
</head>
<body>
    <header class="cabecalho-login">
        <section id="cabecalho-login-logo">
            <img src="/img/logo.png" alt="Logo">
            <h1>Xhopii</h1>
            <p>Redefinir senha</p>
        </section>
        <section id="cabecalho-login-ajuda">
            <p>Precisa de ajuda?</p>
        </section>
    </header>

    <section class="conteudo-redefinir-senha">
        <section class="form-redefinir-senha">
            <a href="/login"><img src="/img/icon-back.png" alt="Voltar"></a>
            <form class="form-redefinir" method="POST" action="/recuperar-senha">
                <label id="label-log">Redefinir senha</label>
                <input id="input-log" type="text" placeholder="Email" name="inputEmailLog" required>
                <input id="botao-log" type="submit" value="Enviar">
            </form>
        </section>
    </section>

    <footer class="rodape">
        <hr>
        <p>© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
    </footer>
</body>
</html>